
<ul class="nav inner ">
    <li><a href="/">HOME</a></li>
    <li><a href="/buyArtPage">BUY ART</a></li>
    <li><a href="/uploadArt">UPLOAD ART TO DATABASE</a></li>
    <li><a href="/contact">CONTACT</a></li>
</ul>
