
<div class="container inner">
<img class="homePageImage"  src="/images/fantail1.jpg" alt="Artwork that shows a Fantail bird painted in purple on wood">
<img class="homePageImage"   src="/images/fantail2.jpg" alt="Artwork that shows a Fantail bird painted in yellow on wood">
<img class="homePageImage"  src="/images/fantail3.jpg" alt="Artwork that shows a Fantail bird painted in blue on wood">
</div>